## Etapa 1: Compreender

### Libraries

In [1]:
import pandas as pd
import numpy as np

### Read

In [2]:
#df = pd.read_csv('', delimiter=";")
#df

data = {
    'nome': ['Ana','Bia','Cida'],
    'idade': [11,12,13],
    'SP': [True,False,True]
}

df = pd.DataFrame(data)
df

   nome  idade     SP
0   Ana     11   True
1   Bia     12  False
2  Cida     13   True

Considerações:

### Shape

In [3]:
df.shape

(3, 3)

Considerações: (14 linhas [contanto o cabeçalho], 5 colunas [não contanto o index do pandas])

### Head e Tail

In [4]:
df.head()

   nome  idade     SP
0   Ana     11   True
1   Bia     12  False
2  Cida     13   True

In [5]:
df.tail()

   nome  idade     SP
0   Ana     11   True
1   Bia     12  False
2  Cida     13   True

### Columns

In [6]:
df.columns

Index(['nome', 'idade', 'SP'], dtype='object')

### Info

In [7]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nome    3 non-null      object
 1   idade   3 non-null      int64
 2   SP      3 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 183.0+ bytes

### Describe (números)

In [8]:
df.describe()

       idade
count    3.0
mean    12.0
std      1.0
min     11.0
25%     11.5
50%     12.0
75%     12.5
max     13.0

### Unique (categorias)

In [11]:
df['nome'].unique()

array(['Ana', 'Bia', 'Cida'], dtype=object)

## Etapa 2: Limpar

### Colunas inúteis e/ou redundantes

### Linhas duplicadas e/ou redundantes

### Outliers ou valores impossíveis

### Verificar Valores Ausentes: isnull

### Tratar Valores Ausentes: 

Remover Linhas com Valores Ausentes: dropna 

Substituir Valores Ausentes: fillna(0)

### Conversão de Tipos de Dados

### Remover ruídos

## Etapa 3: Relacionar

### Análise univariada:
Foca em uma única variável, ajudando a entender sua distribuição e características básicas.

#### Distribuição de Frequências

#### Medidas de Tendência Central

#### Medidas de Dispersão

#### Q-Q Plot

### Análise bivariada:
Explora a relação entre duas variáveis, buscando padrões e correlações.

#### Tabela de Contingência

#### Correlação Pearson

#### Correlação Spearman

### Análise multivariada: 
Investiga múltiplas variáveis simultaneamente para identificar interações complexas.

#### Análise de Regressão (linear ou logística)

#### Análise de Componentes Principais (PCA)

#### Clusterização (K-means)