# DICIONÁRIOS (de → para):

In [36]:
# DICIONÁRIOS: estrutua do elemento → chave:valor
notas = {'João': 6.0, 'Maria': 8.0, 'Pedro': 6.5}
print(notas,'\n')

# Exibir o valor do elemento de acordo com a chave:
print(notas['João'])
print(notas['Maria'])
print(notas['Pedro'])

{'João': 6.0, 'Maria': 8.0, 'Pedro': 6.5}

6.0
8.0
6.5

In [37]:
# Exibir apenas as chaves do dicionário → KEYS:
notas.keys()

dict_keys(['João', 'Maria', 'Pedro'])

In [38]:
#Exibir apenas os valores do dicionário → VALUES:
notas.values()

dict_values([6.0, 8.0, 6.5])

In [39]:
# Testar logicamente a existência de elementos no dicionário:
print('João' in notas)
print('Fernando' in notas)

True
False

In [40]:
# Deletar um elemento do dicionário → DEL:
del notas['João']
print(notas)

{'Maria': 8.0, 'Pedro': 6.5}

In [41]:
# Incluir um elemento ao dicionário:
notas['Ana'] = 9
print(notas)

{'Maria': 8.0, 'Pedro': 6.5, 'Ana': 9}

In [42]:
# Buscar um valor e, se não encontrar, mostrar um segundo parâmetro → GET:
notas.get('Ana', "Não encontrado.") #traz a nota 9
notas.get('Geraldo', "Não encontrado.")

'Não encontrado.'

# SETS:

In [43]:
# SETS: São conjuntos não ordenados de elementos NÃO repitidos:
bigdata = {'Spark', 'Hive', 'Sqoop'} # ← tal como o dicionário, usá-se a estrutura de chaves
print(bigdata)

{'Hive', 'Spark', 'Sqoop'}

In [44]:
# Verificar existência de elemento no SETS:
print('Spark' in bigdata)

True

In [45]:
# Adicionar elemento no Set → ADD:
bigdata.add('Hadoop')
bigdata

{'Hadoop', 'Hive', 'Spark', 'Sqoop'}

In [46]:
# Mensurar o número de elementos:
print(len(bigdata))

4

In [47]:
# Exemplo de caso de não repetição inserindo elemento já existente no set:
bigdata.add('Spark')
bigdata

{'Hadoop', 'Hive', 'Spark', 'Sqoop'}

# TUPLAS:

In [48]:
# TUPLAS: São listas que não podem ser alteradas
## listas usam [] e tuplas usam () ##
tupla = (1, 2, 3, 4, 5, 6, 7)
tupla

# Resgatar elemento da tupla por posição:
print('O elemento na quarta posição, a partir de zero, é: ', tupla[4]) # ← lembrando que se começa em zero

O elemento na quarta posição, a partir de zero, é:  5

In [49]:
# Dicionário em que cada chave é uma tupla que recebe um valor único:
dicionario = {(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4, (5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}
dicionario

{(0, 1): 0,
 (1, 2): 1,
 (2, 3): 2,
 (3, 4): 3,
 (4, 5): 4,
 (5, 6): 5,
 (6, 7): 6,
 (7, 8): 7,
 (8, 9): 8,
 (9, 10): 9}

In [50]:
# Verificar o TYPE:
print(type(notas))
print(type(bigdata))
print(type(tupla))
print(type(dicionario))

<class 'dict'>
<class 'set'>
<class 'tuple'>
<class 'dict'>