# Loc e iLoc

São métodos usados para acessar linhas e colunas em DataFrames do Pandas, uma biblioteca essencial para a manipulação de dados em Python.

* `loc`: Usa rótulos (labels) ou nomes para selecionar dados.
Útil quando se sabe os rótulos exatos das linhas e colunas.

* `iloc`: Usa índices (posições inteiras) para selecionar dados.
Útil quando se trabalha com posições de índice numéricas.

In [4]:
import pandas as pd

# Criar um DataFrame de exemplo
data = {
    'Nome': ['Ana', 'João', 'Maria', 'Carlos', 'José'],
    'Idade': [23, 30, 35, 40, 22],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Brasília', 'Curitiba']
}
df = pd.DataFrame(data)

print(df)

     Nome  Idade          Cidade
0     Ana     23       São Paulo
1    João     30  Rio de Janeiro
2   Maria     35  Belo Horizonte
3  Carlos     40        Brasília
4    José     22        Curitiba

## Usando `loc`

Acessar Linhas por Índice de Rótulo

In [5]:
# Acessar a linha com rótulo 2
linha_2 = df.loc[2]
print(linha_2)

Nome               Maria
Idade                 35
Cidade    Belo Horizonte
Name: 2, dtype: object

Acessar Linhas e Colunas Especificadas

In [6]:
# Acessar a célula específica na linha com rótulo 3 e coluna 'Cidade'
cidade_3 = df.loc[3, 'Cidade']
print(cidade_3)

Brasília

Acessar um Intervalo de Linhas e Colunas

In [7]:
# Acessar linhas com rótulos de 1 a 3 e colunas 'Nome' e 'Idade'
subset_loc = df.loc[1:3, ['Nome', 'Idade']]
print(subset_loc)

     Nome  Idade
1    João     30
2   Maria     35
3  Carlos     40

## Usando `iloc`

Acessar Linhas por Índice de Posição

In [8]:
# Acessar a linha na posição 2 (a terceira linha, pois o índice começa em 0)
linha_2_iloc = df.iloc[2]
print(linha_2_iloc)

Nome               Maria
Idade                 35
Cidade    Belo Horizonte
Name: 2, dtype: object

Acessar Linhas e Colunas Especificadas por Índices de Posição

In [9]:
# Acessar a célula específica na linha 3 e coluna 2 (índice começa em 0)
cidade_3_iloc = df.iloc[3, 2]
print(cidade_3_iloc)

Brasília

Acessar um Intervalo de Linhas e Colunas por Índices de Posição

In [10]:
# Acessar linhas nas posições 1 a 3 e colunas nas posições 0 e 1
subset_iloc = df.iloc[1:4, 0:2]
print(subset_iloc)

     Nome  Idade
1    João     30
2   Maria     35
3  Carlos     40

`:` significa pegar tudo

In [14]:
# Acessar linhas nas posições 1 a 3 e colunas nas posições 0 e 1
subset_iloc = df.iloc[:, 0:2]
print(subset_iloc)

     Nome  Idade
0     Ana     23
1    João     30
2   Maria     35
3  Carlos     40
4    José     22

In [15]:
# Acessar linhas nas posições 1 a 3 e colunas nas posições 0 e 1
subset_iloc = df.iloc[:, 0:2].values
print(subset_iloc)

[['Ana' 23]
 ['João' 30]
 ['Maria' 35]
 ['Carlos' 40]
 ['José' 22]]

In [ ]:
# Acessar linhas nas posições 1 a 3 e colunas nas posições 0 e 1
subset_iloc = df.iloc[1:4, :]
print(subset_iloc)

     Nome  Idade          Cidade
1    João     30  Rio de Janeiro
2   Maria     35  Belo Horizonte
3  Carlos     40        Brasília

In [16]:
# Acessar linhas nas posições 1 a 3 e colunas nas posições 0 e 1
subset_iloc = df.iloc[1:4, :].values
print(subset_iloc)

[['João' 30 'Rio de Janeiro']
 ['Maria' 35 'Belo Horizonte']
 ['Carlos' 40 'Brasília']]